
<p id="about">My name is Ronan Berder. I run <a href="http://wiredcraft.com">Wiredcraft</a>, a Shanghai and DC based company that builds data centric applications, often for the humanitarian and non-profit world. When I am not working on UI, node.js or performance issues, I enjoy a good work out or suit up.</p>
<ul id="social">
  <li><a href="http://twitter.com/hunvreus">Ronan Berder on Twitter</a></li>
  <li><a href="http://twitter.com/hunvreus">Ronan Berder on LinkedIn</a></li>
  <li><a href="http://twitter.com/hunvreus">Ronan Berder's blog RSS feed</a></li>
</ul>