<!DOCTYPE html>
<head>
  <title>{{ page.title }}</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="description" content="Ronan Berder's blog; rambles about entrepreneurship, China and Open Source...">
  <meta name="author" content="Ronan Berder">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS -->
  <link href="/css/reset.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="http://yandex.st/highlightjs/5.16/styles/zenburn.min.css" rel="stylesheet" type="text/css" media="all" />

  <!-- JS -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://yandex.st/highlightjs/5.16/highlight.min.js?looem3" type="text/javascript"></script>
  <script type="text/javascript">(function($) { hljs.initHighlightingOnLoad(); })(jQuery);</script>

  <!-- RSS -->
  <link href="http://feeds2.feedburner.com/tatejohnson" rel="alternate" title="Ronan Berder" type="application/atom+xml">

  <!-- Icons -->
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>
<body>
  <div id="content">
    {{ content }}
  </div>
  <div id="sidebar">
    <nav>
      <h1><a href="{{ base.url }}/">teddy.fr</a></h1>
      <ul>
        <li><a href="{{ base.url }}/">Blog</a></li>
        <li><a href="{{ base.url }}/projects/">Projects</a></li>
        <li><a href="{{ base.url }}/about/">About</a></li>
      </ul>
    </nav>
  </div>
</body>
</html>