<!DOCTYPE html>
<head>
  {% seo %}

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="description" content="Ronan Berder's blog; rambles about entrepreneurship, China and Open Source...">
  <meta name="author" content="Ronan Berder">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS -->
  <link href="/css/reset.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://yandex.st/highlightjs/6.2/styles/monokai.min.css">
  <link href='http://fonts.googleapis.com/css?family=Imprima' rel='stylesheet' type='text/css'>
  <link href="/css/style.css" rel="stylesheet" type="text/css">

  <!-- JS -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://yandex.st/highlightjs/6.2/highlight.min.js"></script>
  <script type="text/javascript">(function($) { hljs.initHighlightingOnLoad(); })(jQuery);</script>
  <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

  <!-- RSS -->
  <link href="http://feeds.feedburner.com/RonanBerder" rel="alternate" title="Ronan Berder" type="application/atom+xml">

  <!-- Icons -->
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
      <script type="text/javascript">
      window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
        heap.load("1719552033");
  </script>
</head>
<body>
  <nav id="header">
  	<h1><a href="{{ base.url }}/">Ronan Berder's blog</a></h1>
    <p id="about">I am Ronan Berder. I have a knack for technology and aesthetics. I founded <a href="http://wiredcraft.com">Wiredcraft</a> and am now working on <a href="http://devo.ps">devo.ps</a>, stretching myself between San Francisco and Shanghai.</p>
    <ul id="links">
      <li class="linkedin"><a href="http://cn.linkedin.com/in/ronanberder">Ronan Berder's LinkedIn profile</a></li>
      <li class='twitter'><a href="http://twitter.com/hunvreus">Ronan Berder's Twitter account</a></li>
      <li class='rss'><a href="/atom.xml">Ronan Berder's blog RSS feed</a></li>
    </ul>
  </nav>
  <div id="content">
    {{ content }}
  </div>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '5118b164613f5d765600000f');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-773975-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
