---
layout: default
---

<article>
  <time datetime="{{ page.date | xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
  <h2>{{ page.title }}</h2>
  {{ content }}
</article>

{% if page.comments %}
<div id="comments"><div id="disqus_thread"></div></div>
<script type="text/javascript">
    var disqus_shortname = 'teddyfr';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

<ul id="pager">
  {% if page.next %}
    <li>
      Newer post › <a href="{{ page.next.url }}">{{ page.next.title }}</a> (<time datetime="{{ page.next.date | xmlschema }}">{{ page.next.date | date: "%B %d, %Y" }}</time>)
    </li>
  {% endif %}
  {% if page.previous %}
    <li>
      Older post › <a href="{{ page.previous.url }}">{{ page.previous.title }}</a> (<time datetime="{{ page.previous.date | xmlschema }}">{{ page.previous.date | date: "%B %d, %Y" }}</time>)
    </li>
  {% endif %}
</ul>